<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:sport.properties"></context:property-placeholder>

    <bean
        id="myFortuneService"
        class="spring.fortune.RandomFortuneService"
    >
    </bean>

    <bean
        id="trackCoach"
        class="spring.coach.TrackCoach"
    >
        <constructor-arg ref="myFortuneService" />
    </bean>


    <bean
        id="baseballCoach"
        class="spring.coach.BaseballCoach"
    >
        <constructor-arg ref="myFortuneService" />
    </bean>

    <bean
        id="cricketCoach"
        class="spring.coach.CricketCoach"
    >
        <property name="fortuneService" ref="myFortuneService"></property>
        <property name="emailAddress" value="${foo.email}"></property>
        <property name="team" value="${foo.team}"></property>
    </bean>

</beans>